@media


only screen and (max-width: 799px) {
    .cd-logo {
        
		visibility: hidden;
	
   	
	
	  }
	  
	  .cd-logo-2x {
		  
	
		visibility: visible;
		
		
		
		
        
    }
	
	.login-page {
  width: 320px;
  padding: 2% 0 0;
  margin: auto;
}
	
	

	

}

@media

only screen and (min-width: 800px) {
    
	  .cd-logo {
        
		visibility: visible;
	
   	
	  }
	  .cd-logo-2x {
		  visibility:hidden;
   
    }
	
	
	

	
}


.cd-logo {
	
	position:relative;
	display: block;
	top:110px;	
	margin:auto;
	
	
	
}

.cd-logo-2x {
	
	position:relative;
	top:5%;
	display: block;
	width:180px;
	height:49px;
	margin:auto;
	
}

.crash {
	position:relative;
	display: block;
	
	margin:auto;
	
	width:160px;
	height:123px;
}

h1 {
	text-align:center;
	margin-top:7%;
	position:relative;
	font-size:36px;
	color:white;
	
}

p {
	text-align:center;
	margin-top:2%;
	position:relative;
	font-size:15px;
	color:white;
}

a { 

color:#00E086;
}


.login-page {
  width: 500px;
  padding: 8% 0 0;
  margin: auto;
}

.form {
	position: relative;
	z-index: 1;
	background: #FFFFFF;
	max-width: 500px;
	margin: 0 auto 100px;
	padding: 45px;
	text-align: center;
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
	border: 1px solid #f2f2f2;
	border-radius: 5px;
}

.form br {
	
	float:left;
	
}
.form input {
   font-family: 'AvenirNext-Regular', sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
   border: 1px solid #f2f2f2;
   border-radius: 5px;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
  
}
.form button {
   font-family: 'AvenirNext-Medium', sans-serif;
  text-transform: uppercase;
   border: 1px solid #00E086;
   border-radius: 5px;
 font-weight: 700;
 letter-spacing: .2em;
  background: transparent;
  width: 100%;
  padding: 15px;
  color: #00E086;
  font-size: 14px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  cursor: pointer;
}
.form button:hover,.form button:active,.form button:focus {
 	background: #00E086;
  color: #16112d;
  border-color: #00E086;
}
.form .message {
  margin: 15px 0 0;
  color: grey;
  font-size: 12px;
}
.form .message a {
  color: #00E086;
  text-decoration: none;
}

.form .register-form {
  display: none;
}

.address [name='street'] {
	float:left;
	width:75%;
	

}

.address [name='number'] {
	float:left;
	width:23%;
	margin-left:5px;
	
	
}
.address [name='city'] {
	float:left;
	width:48%;
	
}

.address [name='country'] {
	float:left;
	width:50%;
	margin-left:5px;
	
}

.address [name='code'] {
	float:left;
	width:100%;
	
}
.container {
  position: relative;
  z-index: 1;
  max-width: 300px;
  margin: 0 auto;
  
}

.container-crash {
	position: relative;
  z-index: 1;
  max-width: 600px;
    margin: 15% auto 0;

}


.container:before, .container:after {
  content: "";
  display: block;
  clear: both;
}
.container .info {
  margin: 50px auto;
  text-align: center;
}
.container .info h1 {
  margin: 0 0 15px;
  padding: 0;
  font-size: 36px;
  font-weight: 300;
  color: #1a1a1a;
}
.container .info span {
  color: #4d4d4d;
  font-size: 12px;
}
.container .info span a {
  color: #000000;
  text-decoration: none;
}
.container .info span .fa {
  color: #EF3B3A;
}
body {
  background: #16112d; /* fallback for old browsers */
   background: -webkit-linear-gradient(right, #16112d, #16112d);
  background: -moz-linear-gradient(right, #16112d, #16112d);
  background: -o-linear-gradient(right, #16112d, #16112d);
  background: linear-gradient(to left, #16112d, #16112d);
  font-family: 'AvenirNext-medium', sans-serif;
  color: grey;
  font-size:13px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

      
}

table {
border-collapse: collapse;
width: 80%;	
left:200px;
	
}

table, th {
	 border: 1px solid white;
	 color:white;
	 height:50%;
	
}


